<style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
footer a{
    color: white;
    margin-right: 2rem;
}
footer a:hover {
    color: gray;
}
td > a {
    text-decoration: none;
}

td li {
    list-style-type: bengali;
}
    </style>