<style >
.fakeimg {
    height: 200px;
    background: #aaa;
}

footer a {
    color: white;
    margin-right: 2rem;
}

footer a:hover {
    color: gray;
}

td > a {
    text-decoration: none;
}

#details td {
    padding: 20px;
}

.poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.all-films {
    margin: 15px 0;
}
</style >
